.bg
{
    background-image: url("https://www.hearthstonetopdecks.com/wp-content/uploads/2014/06/featured-cardbacks.jpg");
    height: 250px;
}

.bg1
{
    background-color: #ba8b00;
}

.hr1{
    margin-bottom:30px;
    margin-top:30px;
    max-width: 50px;
    border-width: 3px;
    border-color: #ba8b00;
}

.white
{
    color: white;
}

.fa-info-circle
{
    color: #ba8b00;
    margin-top: 10px;
}

.hr2{
    margin-bottom:30px;
    margin-top:30px;
    max-width: 150px;
    border-width: 3px;
    border-color: white;
}

.btn-info{
    margin-bottom: 10px;
}
.bg2{
    background-color: white;
}

.hr3{
    margin-bottom:30px;
    margin-top:20px;
    max-width: 800px;
    border-width: 3px;
    border-color: #ba8b00;
}

.fa-globe-americas{
    color: #ba8b00;
    margin-bottom: 5px;
}

.margin{
    margin-top: 5px;
}

.fa-child{
    color: #ba8b00;
    margin-bottom: 5px;
}

.fa-hand-holding-usd{
    color: #ba8b00;
    margin-bottom: 5px;
}

.fa-cart-plus{
    color: #ba8b00;
    margin-bottom: 5px;
}